//background
$blue :#5f96f3;
$borderGray:#8e8ead;
$borderGold:#ffdeab;
//Font
$darkBlue:#1e5483;
$softBlue:#6471a2;
$black:#3d3f4e;
$pink:#f57eae;

$positiveStat:#ff840d;
$negativeStat:#e24352;

a{
    color: $softBlue;
    text-decoration: none;
    font-weight: 800;
}

.homepage-container{
    width: 100%;
    height: auto;
    position: relative;
} 
.nav-bar{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 60%;
    margin-left: 20%;
    height: 50px;
    border-bottom: 2px solid $borderGold;
    border-radius: 0 0 25px 25px;
    -webkit-box-shadow: 0px 3px 5px 3px #3D3F4E; 
    box-shadow: 0px 3px 5px 3px #3D3F4E;;
    background-image: url("./romboo.svg");
    background-size: 15px;
    background-color: white;
    .links-container{
        width: 100%;
        height: 100%;
        display: flex;
        .link-to{
            position: relative;
            height: 100%;
            width: 25%;
            border-right: 1px solid $borderGray;
            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
            .link-button{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 50;
                position: relative;
                a{
                    font-size: 16px;
                    width: 100%;
                    height: 100%;
                    line-height: 50px;
                    border-bottom-left-radius: inherit;
                    border-bottom-right-radius: inherit;      
                }
            }
            .link-button:hover{
                background: #fbcaedcc;
            }
        }
        .link-to:first-child{
            .link-button{
                border-bottom-left-radius: 25px;
            }
        }
        .link-to:last-child{
            border-bottom-right-radius: 25px;
            border-right: none;
        }
    }
}
.link-button:hover ~ .section-container{
    transform: translateY(0);
}

.section-container{
    z-index: 2;
    position: absolute;
    top: 100%;
    width: 100%;
    background-image: url("./romboo.svg");
    background-size: 15px;
    background-color: white;
    transform: translateY(-150%);
    transition: 0.4s;
    .section{
        width: 100%;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
        border: 1px solid $borderGray;
    }
}
.section-container:hover{
    transform: translateY(0);
}


.content{
    display: flex;
    .main-content{
        width: 70%;
        height: auto;
        .main-container{
            color: $darkBlue;
            margin-top: 70px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.808);
            border-radius: 25px;
            border: 2px solid $borderGold;
            .main-title{
                font-size: 30px;
                padding: 10px 0;
            }
            .main-subtitle{
                font-size: 25px;
            }
            .main-content-img{
                max-width: 80%;
            }
            p{
                font-size: 18px;
                padding: 5px 20px;
                text-align: left;
                width: 100%;
            }
        }
        .divide-two{
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            .one-side{
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
            }
            img{
                width: 90%;
                border-radius: 20px;
                margin: 5px 0;
            }
            p{
                text-align: center;
                padding: 0;
            }
            button{
                border-radius: 10px;
                padding: 5px;
                margin: px 0;
                background-color: white;
                color: $darkBlue;
                border: 2px $borderGold solid;
            }
        }
        .divide-mobile{
            flex-direction: column;
        }
    }
    .side-content{
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
        .side-container{
            width: 90%;
            max-width: 500px;
            flex-direction: column;
            display: flex;
            align-items: center;
            margin-top: 70px;
        }
        .side-container-mobile{
            margin-top: 20px;
        }
    }
    
}
.current-event-frame{
    width: 100%;
    height: auto;
    padding: 10px 10px;
    border-radius: 20px;
    text-align: left;
    position: relative;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.808);
    .current-event-title{
        z-index: 2;
        display: inline;
        background-color: white;
        color: $softBlue;
        font-weight: 700;
        padding: 10px 10px;
        border-radius: 20px;
        border: 2px solid $borderGold;
        position: absolute;
        top: -10px;
    }
    img{
        width: 100%;
        border-radius: 20px;
        margin: 5px 0;
    }
}

.current-event-frame:first-child{
    margin-top: 0;
}
.social{
    display: flex;
    justify-content: space-evenly;
    background: none;
    li{
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
        border: 2px solid $borderGold;
        padding: 20px 20px;
        color: $darkBlue;
        cursor: pointer;
    }
    li:hover{
        background: $blue;
        color: white;
    }
}

.margin-top{
    margin-top: 20px;
}

//Mobile changes

.nav-mobile{
    width: 100%;
    margin-left: 0;
}
.content-mobile{
    flex-direction: column;
    align-items: center;
    .main-content{
        width: 95%;
    }
    .side-content{
        width: 90%;
    }
}
